---
---

//
// Variables
//

@import 'variables';

//
// Global Settings
//

@import url('https://fonts.googleapis.com/css?family=Rubik|Trirong');

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  background: $body-color;
  color: $text-color;
  font-family: $font-copy;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body .main > header {
  font-family: $font-headline;
}

body > header,
body > main,
body > footer {
  background: $background-color;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: $size-full;
}

body > main {
  flex-grow: 1;

  @media (min-width: $size-full) {
    border-left: $nav-border;
    border-right: $nav-border;
  }

}

body > main > header {
  font-family: $font-headline;
}

a:link {
  color: $link-color;
}

a:visited {
  color: $visited-color;
}

a:hover {
  color: $hover-color;
}

a:active {
  color: $active-color;

}

h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.25em;
}

p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

//
// Page Header Settings
//

@import 'header';

//
// Component Page Settings
//

@import 'components';

//
// Topic Page Settings
//

@import 'topic';

//
// Page Footer Settings
//

@import 'footer';
