<footer>
  <address>
    <a href="https://twitter.com/{{ site.twitter }}" aria-label="Twitter">
      <i class="fa fa-twitter" aria-hidden="true" title="Twitter"></i>
    </a>
    <a href="https://github.com/{{ site.github }}" aria-label="Github">
      <i class="fa fa-github-alt" aria-hidden="true" title="Github"></i>
    </a>
    <a href="https://www.youtube.com/channel/{{ site.youtube }}" aria-label="YouTube">
      <i class="fa fa-youtube" aria-hidden="true" title="YouTube"></i>
    </a>
    <a href="{{ site.streaming_url }}" aria-label="Streaming">
      <i class="fa fa-gamepad" aria-hidden="true" title="Streaming"></i>
    </a>
    <a href="https://www.twitch.tv/{{ site.twitch }}" aria-label="Twitch">
      <i class="fa fa-twitch" aria-hidden="true" title="Twitch"></i>
    </a>
    <a href="https://forums.elderscrollsonline.com/en/profile/{{ site.forums }}" aria-label="ESO Forums">
      <i class="fa fa-address-card" aria-hidden="true" title="ESO Forums"></i>
    </a>
    <a href="mailto:{{ site.email }}" aria-label="Email">
      <i class="fa fa-envelope" aria-hidden="true" title="Email"></i>
    </a>
  </address>
  <small>
    All content Copyright (c) 2017 <a href="http://wayfarerx.net/">wayfarerx.net</a> unless otherwise noted.
  </small>
</footer>
<script src="https://use.fontawesome.com/11dd6d1d5e.js"></script>