
$body-color: #15171a;
$background-color: #272b30;
$text-color: #c8c8c8;
$link-color: #ededed;
$visited-color: #dbdbdb;
$hover-color: #f5f5f5;
$active-color: #ffffff;

$dark-to-light-gradient: linear-gradient(#2e3238, #343940);
$dark-to-light-gradient-active: linear-gradient(#343940, #3a4047);

$nav-border: 1px solid #616161;

$size-tiny: 288px;
$size-small: 576px;
$size-medium: 768px;
$size-large: 992px;
$size-full: 1200px;

$image-size: 512px;

$font-headline: 'Trirong', serif;
$font-copy: 'Rubik', sans-serif;
